{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
            <p class="card-text">You are logged in!</p>
        </div>
    </div>
{% endblock %}